@model projeto_livraria.Models.Livro;
@{
    ViewData["Title"] = "Details";
}
<h3>Detalhes</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLivro">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-info">Retornar</a>
</div>
